<VirtualHost *:80>   
     ServerAdmin {{ admin_email }}
     DocumentRoot /var/www/html/TeamPass   
     ServerName {{ hostname }}
     <Directory /var/www/html/TeamPass>

          Options FollowSymlinks
          AllowOverride All
          Require all granted
     </Directory>   

     ErrorLog /var/log/httpd/teampass_error.log
     CustomLog /var/log/httpd/teampass_access.log combined

</VirtualHost>